---
const timeElapsed = Date.now();
const today = new Date(timeElapsed);

const { users, messages } = Astro.props;

// generate "my" messages
const removeRandom = (array) => {
  while (array.length) {
    const generateMessages =  Math.floor(Math.random() * messages.length) - 1;
    console.log(generateMessages)
    const el = array.splice(generateMessages, 1);
    console.log(el)
    return el;
  }
};

const myMessages = removeRandom(messages);
---
<!-- Messages -->
<div class="flex-1 overflow-auto" style="background-color: rgb(55, 65, 81)">
  <div class="py-2 px-3"> 

    <div class="flex justify-center mb-2">
        <div class="rounded py-2 px-4" style="background-color: #6b21a8">
            <p class="text-sm uppercase" style="color: #FFF">
                {today.toDateString()}
            </p>
        </div>
    </div>

    {messages.map((item: any) => ( 
      <div class="flex mb-2">
        <div class="rounded py-2 px-3" style="background-color: #F2F2F2">
          {users.filter((user: any) => user.userId === item.userId).map((filteredUser: any) => (
            <p class="text-sm text-teal">
              {filteredUser.username}
            </p>
          ))}
          <p class="text-sm mt-1">
            {item.message}
          </p>
          <p class="text-right text-xs text-grey-dark mt-1">
            {new Date(item.createdAt).toLocaleTimeString()}
          </p>
        </div>
      </div>
    ))}

    {myMessages.map((item: any) => ( 
      <div class="flex justify-end mb-2">
        <div class="rounded py-2 px-3" style="background-color: #E2F7CB">
          {users.filter((user: any) => user.userId === item.userId).map((filteredUser: any) => (
            <p class="text-sm text-teal">
              {filteredUser.username}
            </p>
          ))}
          <p class="text-sm mt-1">
            {item.message}
          </p>
          <p class="text-right text-xs text-grey-dark mt-1">
            {new Date(item.createdAt).toLocaleTimeString()}
          </p>
        </div>
      </div>
    ))}
  </div>
</div>                                